*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      font-family: 'Work Sans', sans-serif;
      max-width: 1600px;
      margin: 0 auto;
      
}

header{
      background-image: url(images/banner/banner3.png);
      background-repeat: no-repeat;
      height: 808px;
      display: flex;
      text-align: right;
}
.column{
      margin-right: 845px;
}
.info-title{
      color: #FFF;
      font-size: 65px;
      font-weight: 700;
      width: 525px;
      padding-top: 216px;
      /* margin: 0 230px 24px 845px; */
}
.info-desc{
      color: #FFF;
      font-size: 16px;
      padding-top: 24px;
      margin-right: 0;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 32px;
}
.btn-primary{
      border-radius: 5px;
      background: #FFF;
      width: 160px;
      height: 64px;
      border: 0;
      color: #005FAC;
      font-size: 20px;
      font-weight: 600;
}

/* main section here */

.year-section{
      display: flex;
      margin-bottom: 200px;
}
.year-section img{
      margin-left: 250px;
      margin-top: 140px;
}
.year-text{
      margin-top: 370px;
      margin-left: 100px;
}
.year-title{
      color: var(--Dark-01, #151414);
      font-size: 40px;
      font-weight: 700;
}
.year-desc{
      color: var(--Dark-02, #444343);
      font-size: 16px;
      font-weight: 400;
      line-height: 26px; 
      padding-top: 24px;
}
/* list-style: url('/media/examples/rocket.svg'); */
ul{
      padding-left: 30px;
      list-style: url(images/icons/icon.svg);
      padding-top: 15px;
}
ul li{
      color: var(--Dark-02, #444343);
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      padding-top: 4px;
      
}


/* plan section here */
.plan-title{
      color: var(--Dark-01, #151414);
      text-align: center;
      font-size: 40px;
      font-weight: 700;

}
.plan-items{
      display: flex;
      justify-content: space-around;
      padding-top: 50px;
      margin: 0 230px;
}
.plan-items img{
      margin-left: 50px;
}
.items-title{
      color: var(--Dark-01, #151414);
      text-align: center;
      font-size: 30px;
      font-weight: 700;
}
.items-desc{
      color: var(--Dark-03, #737272);
      text-align: center;
      font-size: 25px;
      font-weight: 500;
      padding-bottom: 130px;
}


.contact-section{
      background-image: url(images/gradient1.png), url(images/watch.png);
      background-repeat: no-repeat, no-repeat;
      height: 300px;
      margin: 0 230px;
      margin-bottom: 130px;
}
.contact-title{
      color: #FFF;
      font-size: 40px;
      font-weight: 700;
      padding-top: 60px;
      padding-left: 56px;
}
.call{
      margin-top: 25px;
      margin-left: 56px;
}

/* footer section here */

footer{
      background: var(--Dark-01, #151414);
      width: 1600px;
      height: 577px;
}
.footer-section{
      display: flex;
      padding-top: 130px;
      margin: 0 230px;
}
.footer-column{
      width: 50%;
}
.footer-title{
      color: #F8F8F8;
      font-size: 45px;
      font-weight: 700;
}
.footer-desc{
      color: #FFF;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      padding-top: 16px;
}
.footer-title1{
      color: #FFF;
      font-size: 25px;
      font-weight: 600;
}
.social-links{
      display: flex;
}
input[type="email"]{
      border-radius: 8px;
      border: 1px solid #FFF;
      width: 325px;
      height: 64px;
      margin-top: 31px;
      margin-bottom: 16px;
      color: var(--Dark-07, #F3F3F3);
      background: var(--Dark-01, #151414);
      font-size: 18px;
      font-weight: 400;
      padding-left: 21px;
}
.social-links li{
      list-style: none;
      padding-top: 32px;
      padding-right: 30px;
}
.footer-div{
      padding-left: 230px;
}
.subscribe{
      border-radius: 8px;
      background: #005FAC;
      color: #FFF;
      font-size: 20px;
      font-weight: 600;
      width: 170.106px;
      height: 64px;
}

